<div class="card" *ngIf='productId'>
  <div class="card-header">Product Details
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-4">Name : </div>
      <div class="col-md-8">{{specificProduct.productName}}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Code : </div>
      <div class="col-md-8">{{specificProduct.productCode}}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Description : </div>
      <div class="col-md-8">{{specificProduct.description}}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Availability : </div>
      <div class="col-md-8">{{specificProduct.releaseDate}}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Price : </div>
      <div class="col-md-8">{{specificProduct.price | currency}}</div>
    </div>
    <div class="row">
      <div class="col-md-4">Rating : </div>
      <div class="col-md-8">
        <pm-star [rating]='specificProduct.starRating'>
        </pm-star>
      </div>
    </div>
    <br>
    <div class='col-md-4'>
      <img class='center-block img-responsive'
           [style.width.px]='200'
           [style.margin.px]='2'
           [src]='specificProduct.imageUrl'
           [title]='specificProduct.productName'>
    </div>
  </div>
  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</div>